
@{
    ViewBag.Title = "Asiakastapahtumat";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {


            function paivita_asiakas_lista() {
                $.getJSON("/asiakas/getlist", null, function (json) {
                    var asiakas = JSON.parse(json)
                    $("#tapahtumaModal_AsiakasId").empty(); //Tyhjennä asiakaslista

                    for (var index = 0; index < asiakas.length; index++) {
                        //Lisää asiakas listaan
                        $("#tapahtumaModal_AsiakasId").append('<option value="' + asiakas[index].AsiakasId +
                            '">' + asiakas[index].Sukunimi + ', ' + asiakas[index].Etunimi + '</option>')
                    }
                });

            } //end paivita_asiakas_lista_function
            
            function paivita_tapahtumalaji_lista() {
                $.getJSON("/asiakastapahtumalaji/getlist", null, function (json) {
                    var asiakastapahtumalajit = JSON.parse(json)
                    $("#tapahtumaModal_TapahtumalajiId").empty(); //Tyhjennä asiakastapahtumalista

                    for (var index = 0; index < asiakastapahtumalajit.length; index++) {
                        //Lisää asiakas listaan
                        $("#tapahtumaModal_TapahtumalajiId").append('<option value="' + asiakastapahtumalajit[index].TapahtumalajiId + '">' + asiakastapahtumalajit[index].TapahtumalajiNimi + '</option>')
                    }
                });

            } //end paivita_asiakastapahtumalaji_lista_function
            

            function listaaTapahtumatiedot() {

                //tuo tapahtumien tiedot kontrollerilta
                $.getJSON("/asiakastapahtuma/getlist", null, function (json) {
                    var asiakastapahtumat = JSON.parse(json)

                    //luodaan html-taulukon sisältörunko
                    var html = "";
                    for (var i = 0; i < asiakastapahtumat.length; i++) {
                        html += "<tr>" +
                            "<th scope ='row'></th>" +
                            "<td>" + asiakastapahtumat[i].TapahtumaId + "</td>" +
                            "<td>" + asiakastapahtumat[i].Etunimi + "</td>" +
                            "<td>" + asiakastapahtumat[i].Sukunimi + "</td>" +
                            "<td>" + asiakastapahtumat[i].TapahtumalajiNimi + "</td>" +
                            "<td>" + asiakastapahtumat[i].TapahtumaPvm.substring(0, 10) + "</td>" +
                            "<td>" + asiakastapahtumat[i].TapahtumaKlo.substring(11, 16) + "</td>" +
                            "<td>" + asiakastapahtumat[i].TapahtumaKuvaus + "</td>" +
                            "<td><a href='#'><span class='fa fa-edit'></span></a></td>" +
                            "<td><a href='#'><span class='fa fa-trash'></span></a></td>" +
                            "</tr>\r\n"
                    }

                    //täytetään taulukko
                    $("#Listaustaulukko tbody").html(html);
                    
                    //tapahtuman muokkaus
                    $(".fa-edit").click(function () {

                        //päivitä asiakaslista dropdowniin
                        paivita_asiakas_lista();

                        //päivitä tapahtumalajit dropdowniin
                        paivita_tapahtumalaji_lista();

                        //etsitään tapahtuman tiedot valitulta riviltä
                        var tapahtumaId = $(this).parent().parent().prev().prev().prev().prev().prev().prev().prev().text();
                        
                        //haetaan tapahtuman tiedot kontrollerilta id:n perusteella
                        $.getJSON("/asiakastapahtuma/getsingleevent/" + tapahtumaId, null, function (json3) {
                            var tapahtuma = JSON.parse(json3);
                                                                                                           
                            
                            //tapahtuman tietojen lataus modaali-ikkunaan
                            $('#tapahtumaModal_TapahtumaId').val(tapahtuma.TapahtumaId);
                            $('#tapahtumaModal_AsiakasId').val(tapahtuma.AsiakasId);
                            $('#tapahtumaModal_TapahtumalajiId').val(tapahtuma.TapahtumalajiId);
                                                        
                            document.getElementById("tapahtumaModal_Päivä").value = tapahtuma.TapahtumaPvm.substring(0, 10);
                            document.getElementById("tapahtumaModal_Kello").value = tapahtuma.TapahtumaKlo.substring(11, 16);
                            
                            $('#tapahtumaModal_TapahtumaKuvaus').val(tapahtuma.TapahtumaKuvaus);

                            //Näytetään modaali-ikkuna
                            $('#tapahtumaModalTitle').text('Muokkaa asiakastapahtuman tietoja');
                            $('#tapahtumaModalDialog').modal('show');

                        });  //end getJson (asiakastapahtuma/getsingleevent)

                    });  //end fa-edit.click


                    //tapahtuman poisto
                    $(".fa-trash").click(function () {

                        //etsitään tapahtuman tiedot klikatulta riviltä
                        var tapahtumaId = $(this).parent().parent().prev().prev().prev().prev().prev().prev().prev().prev().text();
                        
                        var ok = confirm("Haluatko varmasti poistaa tapahtuman " + tapahtumaId + "?")

                        if (ok == true) {
                            $.getJSON("/asiakastapahtuma/delete/" + tapahtumaId, null, function (status) {
                                if (status == true) {
                                    alert("Tapahtuma on nyt poistettu!");
                                    listaaTapahtumatiedot();
                                }
                                else {
                                    alert("Tapahtuman poisto ei valitettavasti onnistunut!");
                                }
                            });  //end getJSON (asiakastapahtuma/delete)

                        } //end if (ok ==true)

                    }); //end tapahtuman poisto

                });  //end getJson (asiakastapahtuma/getlist)

            }  //end function listaaTapahtumatiedot

            //sivun alustus
            $(function () {
                $('#ListaaAsiakastapahtumat').on('click', function () {
                    listaaTapahtumatiedot();
                });


                //tapahtuman lisäys
                $('#LisääAsiakastapahtuma').click(function () {

                    //päivitä asiakaslista dropdowniin
                    paivita_asiakas_lista();

                    //päivitä tapahtumalajit dropdowniin
                    paivita_tapahtumalaji_lista();

                    //tyhjennetään modaali-ikkkunan tiedot
                    $('#tapahtumaModal_TapahtumaId').val('(Uusi asiakastapahtuma)');
                    $('#tapahtumaModal_AsiakasId').val('');
                    $('#tapahtumaModal_TapahtumalajiId').val('');
                    $('#tapahtumaModal_Päivä').val('');
                    $('#tapahtumaModal_Kello').val('');
                    $('#tapahtumaModal_TapahtumaKuvaus').val('');

                    //alert($('#tapahtumaModal_TapahtumaId').val());

                    //näytetään tyhjä modaali-ikkuna
                    $('#tapahtumaModalTitle').text('Lisää uusi asiakastapahtuma');
                    $('#tapahtumaModalDialog').modal('show');

                });

                //Tallenna -nappi => luetaan käyttäjän antamat modaali-ikkunan tiedot 
                $('#tapahtumaModalSaveButton').click(function () {

                    
                    var details = {
                        TapahtumaId: $('#tapahtumaModal_TapahtumaId').val(),
                        AsiakasId: $('#tapahtumaModal_AsiakasId').val(),
                        TapahtumalajiId: $('#tapahtumaModal_TapahtumalajiId').val(),
                        TapahtumaPvm: $('#tapahtumaModal_Päivä').val(),
                        TapahtumaKlo: $('#tapahtumaModal_Kello').val(),
                        TapahtumaKuvaus: $('#tapahtumaModal_TapahtumaKuvaus').val()
                    };

                    //Välitetään tiedot controllerille ja edelleen tietokantaan
                    //Jos onnistuu, piilotetaan modaali-ikkuna ja päivitetäään asiakaslista, infotaan tarvittaessa käyttäjää
                    $.post("/asiakastapahtuma/update/", details, function (status) {

                        if (status == true) {
                            $('#tapahtumaModalDialog').modal('hide');
                            listaaTapahtumatiedot();
                        }
                        else {
                            alert("Tallennus ei valitettavasti onnistunut, yritä uudelleen!");
                        }

                    }); //end post(asiakastapahtuma/update)

                });  //end Tallenna-napin klikkaus

            }); //end sivun alustus

            //tulostus
            $('#TulostaButton').click(function () {
                window.print();
            });

        });  //end document ready

    </script>
}


<h2>Asiakastapahtumat</h2>

<div>
    <a class="btn btn-secondary" href="#" role="button" id="ListaaAsiakastapahtumat">Listaa asiakastapahtumat</a>
    <a class="btn btn-secondary" href="#" role="button" id="LisääAsiakastapahtuma">Lisää asiakastapahtuma</a>
    <a class="btn btn-secondary" href="~/Asiakastapahtumalaji/Index" role="button" id="MuokkaaAsiakastapahtumalajeja">Muokkaa asiakastapahtumalajeja</a>
    <a class="btn btn-secondary" href="#" role="button" id="TulostaButton">Tulosta sivu</a>
</div>

<p>&nbsp;</p>

<!-- Taulukko tietoja varten -->


<table class="table table-striped" id="Listaustaulukko">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">TapahtumaId&nbsp;<span><img src="~/OmatKuvat/elevator.png" /></span></th>
            <th scope="col">Asiakkaan etunimi&nbsp;<span><img src="~/OmatKuvat/elevator.png" /></span></th>
            <th scope="col">Asiakkaan sukunimi&nbsp;<span><img src="~/OmatKuvat/elevator.png" /></span></th>
            <th scope="col">Tapahtumalaji&nbsp;<span><img src="~/OmatKuvat/elevator.png" /></span></th>
            <th scope="col">Päivämäärä&nbsp;<span><img src="~/OmatKuvat/elevator.png" /></span></th>
            <th scope="col">Kello</th>
            <th scope="col">Tapahtuman kuvaus</th>
            <th scope="col">Muokkaa</th>
            <th scope="col">Poista</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Modaali-ikkuna-->

<div class="modal" tabindex="-1" role="dialog" id="tapahtumaModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="tapahtumaModalTitle">Muokkaa tapahtuman tietoja</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">TapahtumaId</div>
                    <div class="col-md-6"><input class="form-control" id="tapahtumaModal_TapahtumaId" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">AsiakasId</div>
                    <div class="col-md-6">
                        <select class="form-control" id="tapahtumaModal_AsiakasId">
                            <option>Odota ladataan..</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">TapahtumalajiId</div>
                    <div class="col-md-6">
                        <select class="form-control" id="tapahtumaModal_TapahtumalajiId">
                            <option>Odota ladataan..</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Päivämäärä</div>
                    <div class="col-md-6"><input class="form-control" id="tapahtumaModal_Päivä" type="date"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Kello</div>
                    <div class="col-md-6"><input class="form-control" id="tapahtumaModal_Kello" type="time"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Tapahtuman kuvaus</div>
                    <div class="col-md-6"><input class="form-control" id="tapahtumaModal_TapahtumaKuvaus" type="text"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="tapahtumaModalSaveButton">Tallenna</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>

            </div>
        </div>
    </div>
</div>


<!-- Scripti, jolla voidaan lajitella data sarakkeen otsikon mukaan-->
<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        const tbody = table.querySelector('tbody');
        Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => tbody.appendChild(tr));
    })));
</script>