@{
    /**/

    ViewBag.Title = "Pääsivu";

}

<h2>Tervetuloa käyttämään CRM-sovellusta</h2>
<p>
    Sovelluksen avulla saat pidettyä helposti asiakkaidesi kanssa sovitut asiat muistissa.
</p>


