@{
    ViewBag.Title = "Asiakaskategoriat";
}

@section head{
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            function listaaAsiakaskategorialuokat() {

                //tuo asiakaskategorialuokkien tiedot kontrollerilta
                $.getJSON("/asiakaskategorialuokka/getlist", null, function (json) {
                    var asiakaskategoriat = JSON.parse(json)

                    //luodaan html-taulukon sisältörunko
                    var html = "";
                    for (var i = 0; i < asiakaskategoriat.length; i++) {
                        
                        html += "<tr>" +
                            "<th scope ='row'></th>" +
                            "<td>" + asiakaskategoriat[i].KategoriaId + "</td>" +
                            "<td>" + asiakaskategoriat[i].KategoriaNimi + "</td>" +
                            "<td>" + asiakaskategoriat[i].KategoriaKuvaus + "</td>" +
                            "<td><a href='#'><span class='fa fa-edit'></span></a></td>" +
                            "<td><a href='#'><span class='fa fa-trash'></span></a></td>" +
                            "</tr>\r\n"
                    }

                    //täytetään taulukko
                    $("#Listaustaulukko tbody").html(html);

                    //tietojen muokkaus
                    $(".fa-edit").click(function () {

                        //etsitään tiedot klikatulta riviltä
                        var kategoriaId = $(this).parent().parent().prev().prev().prev().text();
                        
                        //haetaan kategorian tiedot kontrollerilta id:n perusteella
                        $.getJSON("/asiakaskategorialuokka/getsinglegategory/" + kategoriaId, null, function (json2) {
                            var kategoria = JSON.parse(json2);
                           
                            //tietojen lataus modaali-ikkunaan
                            $('#gatModal_KategoriaId').val(kategoria.KategoriaId)
                            $('#gatModal_KategoriaNimi').val(kategoria.KategoriaNimi)
                            $('#gatModal_KategoriaKuvaus').val(kategoria.KategoriaKuvaus)

                            //näytetään modaali-ikkuna
                            $('#gatModalTitle').text('Muokkaa asiakaskategorian tietoja');
                            $('#gatModalDialog').modal('show');
                        });
                    });

                    //tietojen poisto
                    $(".fa-trash").click(function () {
                        //haetaan klikatun rivin id-numero
                        var kategoriaId = $(this).parent().parent().prev().prev().prev().prev().text();

                        
                        //poiston varmistus
                        var ok = confirm("Haluatko varmasti poistaa kategorian " + kategoriaId + "?");

                        if (ok == true) {
                            $.getJSON("/asiakaskategorialuokka/delete/" + kategoriaId, null, function (status) {
                                if (status == true) {
                                    listaaAsiakaskategorialuokat();
                                    alert("Asiakaskategorian tiedot on poistettu onnistuneesti");
                                }

                                else {
                                    alert("Kategorian poistaminen ei onnistunut. Yritä uudelleen!");
                                }
                            });
                        }
                    });
                });
            }

            //sivun alustus
            $(function () {
                $('#Listaa').on('click', function () {
                    listaaAsiakaskategorialuokat();
                });

                $('#Lisää').click(function () {

                    //tyhjennetään ikkunan tiedot
                    $('#gatModal_KategoriaId').val('(uusi)');
                    $('#gatModal_KategoriaNimi').val('');
                    $('#gatModal_KategoriaKuvaus').val('');

                    //näytetään tyhjä modaali-ikkuna
                    $('#gatModalTitle').text('Lisää uusi kategoria');
                    $('#gatModalDialog').modal('show');
                });

                //Painetaan Tallenna => luetaan käyttäjän antamat tiedot modaali-ikkunasta
                $("#gatModalSaveButton").click(function () {

                    var details = {
                        KategoriaId: $("#gatModal_KategoriaId").val(),
                        KategoriaNimi: $("#gatModal_KategoriaNimi").val(),
                        KategoriaKuvaus: $("#gatModal_KategoriaKuvaus").val()
                    };


                    /*Lähetetään tiedot kontrollerille,
                     * annetaan käyttäjälle viesti päivityksen onnistumisesta,
                     * piilotetaan modaali-ikkuna ja
                     * päivitetään asiakaskategorialistaus*/
                    $.post("/Asiakaskategorialuokka/Update/", details, function (status) {

                        if (status == true) {

                            $('#gatModalDialog').modal('hide');
                            listaaAsiakaskategorialuokat();
                        }
                        else {
                            alert('Tallennus ei valitettavasti onnistunut, tarkista tiedot!');
                        }
                    });
                });
            });

            //tulostus
            $('#TulostaButton').click(function () {
                window.print();
            });
        });
    </script>
}

<h2>Asiakaskategoriat</h2>


<div>
    <a class="btn btn-secondary" href="#" role="button" id="Listaa">Listaa asiakaskategoriat</a>
    <a class="btn btn-secondary" href="#" role="button" id="Lisää">Lisää asiakaskategoria</a>
    <a class="btn btn-secondary" href="#" role="button" id="TulostaButton">Tulosta sivu</a>
</div>

<p>&nbsp;</p>

<!-- Taulukko tietoja varten -->


<table class="table table-striped" id="Listaustaulukko">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">KategoriaId&nbsp;<span><img src="~/OmatKuvat/elevator.png" /></span></th>
            <th scope="col">Kategorian nimi&nbsp;<span><img src="~/OmatKuvat/elevator.png" /></span></th>
            <th scope="col">Kategorian kuvaus&nbsp;<span><img src="~/OmatKuvat/elevator.png" /></span></th>
            <th scope="col">Muokkaa</th>
            <th scope="col">Poista</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Modaali-ikkuna-->

<div class="modal" tabindex="-1" role="dialog" id="gatModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="gatModalTitle">Muokkaa kategorian tietoja</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">KategoriaId</div>
                    <div class="col-md-6"><input class="form-control" id="gatModal_KategoriaId" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Kategorian nimi</div>
                    <div class="col-md-6"><input class="form-control" id="gatModal_KategoriaNimi" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Kategorian kuvaus</div>
                    <div class="col-md-6"><input class="form-control" id="gatModal_KategoriaKuvaus" type="text"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="gatModalSaveButton">Tallenna</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>

            </div>
        </div>
    </div>
</div>
<!-- Scripti, jolla voidaan lajitella data sarakkeen otsikon mukaan-->
<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        const tbody = table.querySelector('tbody');
        Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => tbody.appendChild(tr));
    })));
</script>